body {
  background: url(https://c4.wallpaperflare.com/wallpaper/761/613/75/abstract-sky-sun-clouds-wallpaper-thumb.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 32px;
  background: linear-gradient(to right, #c2c0c0, #70a1ff);
  margin-bottom: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selectors {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  margin: 20px auto;
  border-radius: 32px;
  background: linear-gradient(to right, #c2c0c0, #70a1ff);
  margin-bottom: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.weather-box h3,
.weather-box h5 {
  margin: 5px 0;
}

.selectors {
  display: flex;
  gap: 6px;
  justify-content: center;
}
